.todo-viewport {
  height: 200px;
  width: 100%;
  border: 1px solid black;
}

.todo-item {
  height: 58px;
  line-height: 58px;
  padding-left: 20px;
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
  background: lightgreen;
  list-style: none;
}
