.todo-list-item.cdk-drag-preview {
  border: 2px red solid !important;
  background: pink;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.todo-list-item.cdk-drag-placeholder {
  border: 2px blue solid;
  background: lightblue;
}

.todo-list-item.cdk-drag-animating {
  border: 2px black solid !important;
  background: gray;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.todo-list.cdk-drop-list-dragging .todo-list-item:not(.cdk-drag-placeholder) {
  border: 2px orange solid;
  background: antiquewhite;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
